{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="container">
    <br>
    <h1>Cargar Proveedor</h1>
    <br>
    <form class="card" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Nombre</label>
            <div>{{form.nombre}}</div>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Apellido</label>
            <div>{{form.apellido}}</div>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">DNI</label>
            <div>{{form.dni}}</div>
          </div>
          <br>
        <button type="submit" class="btn btn-success">Guardar</button>
    </form>

    {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <p> {{ error }} </p>
        {% endfor %}
    {% endfor %}
    {% endif %}
    </ul>
</div>
{% endblock content %}